<div class="container users">
  <h1>Shortify Links</h1>
  <nav>
      <%unless current_user.nil?%>
        <a href="<%=url("/logout")%>">logout</a>
      <% end %>
  </nav>
  

<form action="/signup" method="post">
  <label>User name:</label><br>
  <input type="text" name="user[name]"><br>
  <label>Email:</label><br>
  <input type="text" name="user[email]"><br>
  <label>Password:</label><br>
  <input type="password" name="user[password]"><br>
  <label>Repeat password:</label><br>
  <input type="password" name="user[password_confirmation]"><br>
  <input type="submit" value="Sign up!">
  <a href="<%=url("/login")%>">or login</a>
</form>

<div class="links">
  <h3>top 5 links</h3>
<table>
  <% @links.each do |link|%>
    <tr>
      <td><a href="<%=link.url%>"><%=link.url%></a></td>
      <td><a href="<%=url(link.short_url)%>"><%=url(link.short_url)%></td>
      <td><%=link.click_count%></td>
    </tr>
  <%end%>
</table>
</div>


</div>

